BasedOnStyle: LLVM
DisableFormat: false

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveMacros: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
ContinuationIndentWidth: 4
IncludeBlocks: Regroup
IndentPPDirectives: None
IndentWidth: 4
InsertNewlineAtEOF: true
PackConstructorInitializers: CurrentLine
PenaltyReturnTypeOnItsOwnLine: 100000
ReflowComments: false
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SpacesBeforeTrailingComments: 2
TabWidth: 4
UseTab: Never
